#contenedor-habitacion {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s;
  background-color: #f3f8ff;
}

.card:hover {
  transform: scale(1.03);
}

.card-img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.card-body {
  padding: 15px;
  text-align: center;
}

.card-body h3 {
  margin: 0 0 10px;
  font-size: 18px;
}

.card-body p {
  margin: 5px 0;
  font-size: 14px;
  color: #555;
}



.card-body button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #85B4FF;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.card-body button:hover {
  background-color:  #A8CFFF;
  transform: scale(1.05);
}

.card-body button:active {
  transform: scale(0.98);
}



.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.modal-box {
    background: white;
    padding: 20px;
    border-radius: 12px;
    max-width: 600px;
    width: 90%;
    overflow-y: auto;
    max-height: 90vh;
    position: relative;
}

.modal-box .cerrar-modal {
    margin-top: 20px;
    background-color: #dc3545;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
